*

!.gitignore
!install.sh
!install-user.sh
!install-yed.sh

!.config
!.config/i3
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/yed/
!.config/yed/yedrc
!.config/yed/ypm_list

!src
!src/suckless
!src/suckless/st
!src/yed

!.yed
!.yed/init.c
