*

!.gitignore
!install.sh
!install-gui.sh
!install-vm.sh

!.config
!.config/i3
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini

!src
!src/suckless
!src/suckless/st
!src/yed

!.yed
!.yed/init.c
